<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/me.jpg" class="portrait" alt="">
    </div>

    <p>Created by {{name}}</p>

    {{>footer}}
</body>

</html>